openapi: 3.1.0
info:
  title: Aeon's End Expedition Selector
  version: 1.0.0
  description: |-
    OpenAPI schema for invoking the expedition selector CGI endpoint that wraps
    aeons_end_expedition_selector.py. Use this action to generate expedition
    packets instead of running the script directly.
servers:
  - url: https://skriptguruai.site/cgi-bin/expedition-narrator
paths:
  /aeons_end_expedition_selector_cgi.py:
    post:
      operationId: selectExpeditionPacket
      summary: Generate an expedition packet.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelectorRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SelectorRequest"
      responses:
        "200":
          description: Expedition packet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpeditionPacket"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      operationId: selectExpeditionPacketGet
      summary: Generate an expedition packet (query parameters).
      parameters:
        - name: mage_count
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: length
          in: query
          required: false
          schema:
            type: string
            enum: [short, standard, long]
        - name: content_waves
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated wave names or a JSON list encoded as a string. Use an empty list (`[]`) or omit to disable filtering.
        - name: content_boxes
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated box names or a JSON list encoded as a string. Use an empty list (`[]`) or omit to disable filtering.
        - name: seed
          in: query
          required: false
          schema:
            type: integer
        - name: max_attempts
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: mage_recruitment_chance
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 100
          description: Probability (0-100) that a new mage joins after winning a non-final battle.
        - name: strictness
          in: query
          required: false
          schema:
            type: string
            enum: [thematic, mixed, open]
            default: open
          description: >-
            Content strictness level.
            'thematic': All entities (mages, nemeses, friends, foes) from the same wave as the setting.
            'mixed': Mages from the same wave as the setting; nemeses, friends, foes from any allowed content.
            'open': All entities from any allowed content (maximum variety).
        - name: setting_wave
          in: query
          required: false
          schema:
            type: string
          description: >-
            Force a specific wave's setting (e.g., '7th Wave').
            Use availableSettings to discover valid values.
        - name: setting_variant
          in: query
          required: false
          schema:
            type: string
          description: >-
            Force a specific setting variant (e.g., 'future').
            Requires setting_wave to be specified.
      responses:
        "200":
          description: Expedition packet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpeditionPacket"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /aeons_end_expedition_selector_cgi.py?operation=availableSettings:
    get:
      operationId: availableSettings
      summary: Get available waves and their setting variants.
      description: |-
        Returns a list of all waves and their available setting variants.
        Use this to discover valid values for setting_wave and setting_variant parameters.
      x-openai-isConsequential: false
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum: [availableSettings]
      responses:
        "200":
          description: Available settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailableSettingsResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /aeons_end_expedition_selector_cgi.py?operation=selectReplacementMage:
    post:
      operationId: selectReplacementMage
      summary: Select a single replacement mage for the party.
      description: |-
        Use this action when players choose a new mage as reinforcement after a loss.
        The selector returns one mage that does not collide with the existing party.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplacementMageRequest"
      responses:
        "200":
          description: Replacement mage packet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplacementMagePacket"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      operationId: selectReplacementMageGet
      summary: Select a single replacement mage (query parameters).
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum: [selectReplacementMage]
        - name: existing_mage_names
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated names of mages currently in the party.
        - name: content_waves
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated wave names or a JSON list encoded as a string.
        - name: content_boxes
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated box names or a JSON list encoded as a string.
        - name: seed
          in: query
          required: false
          schema:
            type: integer
        - name: max_attempts
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Replacement mage packet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplacementMagePacket"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    ReplacementMageRequest:
      type: object
      additionalProperties: false
      required:
        - operation
        - existing_mage_names
      properties:
        operation:
          type: string
          enum: [selectReplacementMage]
          description: Must be "selectReplacementMage" to invoke this operation.
        existing_mage_names:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: Names of mages currently in the party (to avoid duplicates). List or comma-separated string.
        content_waves:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: Wave names as a list or comma-separated string. Use an empty list (`[]`) or omit to disable filtering.
        content_boxes:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: Box names as a list or comma-separated string. Use an empty list (`[]`) or omit to disable filtering.
        seed:
          type: integer
        max_attempts:
          type: integer
          minimum: 1
    ReplacementMagePacket:
      type: object
      additionalProperties: false
      required:
        - meta
        - mage
      properties:
        meta:
          $ref: "#/components/schemas/ReplacementMageMeta"
        mage:
          $ref: "#/components/schemas/Mage"
    ReplacementMageMeta:
      type: object
      additionalProperties: false
      required:
        - generated_at_utc
        - seed
        - attempt
        - attempt_seed
        - inputs
      properties:
        generated_at_utc:
          type: string
          format: date-time
        seed:
          type: integer
        attempt:
          type: integer
        attempt_seed:
          type: integer
        inputs:
          type: object
          additionalProperties: false
          required:
            - existing_mage_names
            - content_waves
            - content_boxes
          properties:
            existing_mage_names:
              type: array
              items:
                type: string
            content_waves:
              type: array
              items:
                type: string
            content_boxes:
              type: array
              items:
                type: string
    SelectorRequest:
      type: object
      additionalProperties: false
      required:
        - mage_count
      properties:
        mage_count:
          type: integer
          minimum: 1
        length:
          type: string
          enum: [short, standard, long]
          default: standard
        content_waves:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: Wave names as a list or comma-separated string. Use an empty list (`[]`) or omit to disable filtering.
        content_boxes:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
          description: Box names as a list or comma-separated string. Use an empty list (`[]`) or omit to disable filtering.
        seed:
          type: integer
        max_attempts:
          type: integer
          minimum: 1
        mage_recruitment_chance:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
          description: Probability (0-100) that a new mage joins after winning a non-final battle.
        strictness:
          type: string
          enum: [thematic, mixed, open]
          default: open
          description: >-
            Content strictness level.
            'thematic': All entities (mages, nemeses, friends, foes) from the same wave as the setting.
            'mixed': Mages from the same wave as the setting; nemeses, friends, foes from any allowed content.
            'open': All entities from any allowed content (maximum variety).
        setting_wave:
          type: string
          description: >-
            Force a specific wave's setting (e.g., '7th Wave', '8th Wave').
            Use availableSettings to discover valid values.
            When specified, the setting is taken from this wave regardless of content_waves.
        setting_variant:
          type: string
          description: >-
            Force a specific setting variant (e.g., 'past', 'future').
            Only valid for waves that have setting_variants.
            Requires setting_wave to be specified.
            Use availableSettings to discover which waves have variants.
    ExpeditionPacket:
      type: object
      additionalProperties: false
      required:
        - meta
        - setting
        - protect_target
        - mages
        - final_nemesis
        - battle_plan
        - availability
      properties:
        meta:
          $ref: "#/components/schemas/Meta"
        setting:
          $ref: "#/components/schemas/Setting"
        protect_target:
          type: [string, "null"]
          enum: [Gravehold, Xaxos, null]
        mages:
          type: array
          items:
            $ref: "#/components/schemas/Mage"
        final_nemesis:
          $ref: "#/components/schemas/Nemesis"
        battle_plan:
          type: array
          items:
            $ref: "#/components/schemas/BattlePlanEntry"
        availability:
          $ref: "#/components/schemas/Availability"
    Meta:
      type: object
      additionalProperties: false
      required:
        - generated_at_utc
        - seed
        - attempt
        - attempt_seed
        - inputs
      properties:
        generated_at_utc:
          type: string
          format: date-time
        seed:
          type: integer
        attempt:
          type: integer
        attempt_seed:
          type: integer
        inputs:
          type: object
          additionalProperties: false
          required:
            - mage_count
            - length
            - content_waves
            - content_boxes
            - mage_recruitment_chance
            - strictness
          properties:
            mage_count:
              type: integer
            length:
              type: string
              enum: [short, standard, long]
            content_waves:
              type: array
              items:
                type: string
            content_boxes:
              type: array
              items:
                type: string
            mage_recruitment_chance:
              type: integer
              minimum: 0
              maximum: 100
              description: Probability (0-100) that a new mage joins after winning a non-final battle.
            strictness:
              type: string
              enum: [thematic, mixed, open]
              description: Content strictness level used for this expedition.
    Setting:
      type: object
      required:
        - wave_name
      properties:
        wave_name:
          type: string
      additionalProperties: true
    Mage:
      type: object
      required:
        - name
        - chosen_variant
      properties:
        name:
          type: string
        chosen_variant:
          type: object
          required:
            - box
          properties:
            box:
              type: string
          additionalProperties: true
      additionalProperties: true
    Nemesis:
      type: object
      required:
        - name
      properties:
        name:
          type: string
      additionalProperties: true
    FriendFoe:
      type: [object, "null"]
      additionalProperties: true
    BattlePlanEntry:
      type: object
      additionalProperties: false
      required:
        - battle_index
        - tier
        - nemesis
        - friend
        - foe
        - recruit
      properties:
        battle_index:
          type: integer
        tier:
          type: integer
        nemesis:
          $ref: "#/components/schemas/Nemesis"
        friend:
          $ref: "#/components/schemas/FriendFoe"
        foe:
          $ref: "#/components/schemas/FriendFoe"
        recruit:
          oneOf:
            - $ref: "#/components/schemas/Mage"
            - type: "null"
          description: Pre-planned mage recruit for this battle (null if no recruitment).
    Availability:
      type: object
      additionalProperties: false
      required:
        - friends_available
        - foes_available
        - include_friend_foe_pair
      properties:
        friends_available:
          type: boolean
        foes_available:
          type: boolean
        include_friend_foe_pair:
          type: boolean
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
    AvailableSettingsResponse:
      type: object
      additionalProperties: false
      required:
        - waves
        - boxes
      properties:
        waves:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - variants
            properties:
              name:
                type: string
                description: The wave name (e.g., '1st Wave', '7th Wave').
              variants:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - type: "null"
                description: >-
                  List of variant names if the wave has setting_variants (e.g., ['past', 'future']),
                  or null if the wave has no variants.
        boxes:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - wave
            properties:
              name:
                type: string
                description: The box name (e.g., 'Aeon's End (Core Set)', 'Past and Future').
              wave:
                type: string
                description: The wave this box belongs to (e.g., '1st Wave', '7th Wave').
